.SubContent--contentWrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    height: 6rem;
}

.SubContent--contentWrapper__head {
    margin-bottom: 1.5rem;
}

.SubContent--contentWrapper__body {
    line-height: 1.7;
    font-size: 120%;
}

@media only screen and (max-width: 1526px) {
    .SubContent--contentWrapper__body {
        font-size: 110%;
    }
}

@media only screen and (max-width: 1398px) {
    .SubContent--contentWrapper__body {
        font-size: 100%;
        width: 110%;
    }
}

@media only screen and (max-width: 1398px) {
    .SubContent--contentWrapper__body {
        font-size: 100%;
    }
}

@media only screen and (max-width: 1157px) {
    .SubContent--contentWrapper__body {
        font-size: 90%;
        
    }
}

@media only screen and (max-width: 1150px) {
    .SubContent--contentWrapper__body {
        font-size: 100%;
        width: 100%
    }
}

@media only screen and (max-width: 600px) {
    .SubContent--contentWrapper__body {
        font-size: 110%;
        font-weight: 300;
    }
    .SubContent--contentWrapper__head {
        font-weight: 400;
    }
}
