#redLink {
  color: #fd514e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#redLink:hover {
  color: #ff2824;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.carouselContainer {
  width: 50%;
  height: 50%;
  margin: 1rem auto;
  margin-bottom: 4rem;
}

.carousel-title {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1150px) {
  .linkContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .linkContainer-item {
    margin-bottom: 0.5rem;
  }

  .carouselContainer {
    min-width: 17rem;
    width: 75vw;
    height: auto;
  }
}

.w-100 {
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .carousel-title {
    font-size: 1.25rem;
  }
  .linkContainer {
    align-items: start;
  }

}