.footer {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  border-top: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  transform: translate(10%);
}

.footerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#githubLogo {
  color: #421dd8;
  font-size: 120%;
}

#emailLogo {
  color: #eb1d1a;
  font-size: 120%;
}

@media only screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .footerRow:first-of-type {
    margin-bottom: .5rem;
  }
}

